<html>
    <head>
      <title>Welcome to Flask Todo List</title>
    </head>
    <header>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>
    <body>
        <div class="w3-container">
        <a href="/">Flask Todo List</a>
            <h4>
             <span>Oque achou?</span>   
            </h4>
            <p>deixe sua pergunta ou comentário aqui!</p>
            <p><input type="text" placeholder="  gostei muito!!!" name="content">
            <input type="submit" id="button-hell" onclick="audio.play();" class="w3-button w3-black"  value="Add"></p>


        <script type="text/javascript">
            var audio = new Audio("{{ url_for('static', filename='media/2545.mp3') }}");
        </script>
    </div>
    </body>
  </html>


